.side-bar
  .side-header
    .side-header__items
      .side-header__items__name
        しば
      %ul.side-header__items__icons
        %li.side-header__items__icons__new-group
          = link_to "#" do
            = icon("far", "edit")
        %li.side-header__items__icons__setting
          = link_to "#" do
            = icon("fas", "cog")
  .side-group
    .side-group__group
      .side-group__group-name
        天気
      .side-group__message
        まだメッセージがありません